

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}


body {
    margin: 0 auto;
}

/* tete de page */

header.header {
    display: flex;
    align-items: center;
}

header.header img {
    width: 80px;
}

section.top-page {
    background: url('../image/bakcground.jpg');
    background-size: cover;
    height: 90vh;
    padding: 25px;
}

/* page de bienvenue (landing page) */

.landing-page {
    position: relative;
    padding: 20px 50px;
    
}

.big-title {
    color: black;
    font-family: 'Abril FatFace', cursive;
    font-size:  30px;
    font-weight: 80;
    width: 70%;
}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between ;
    list-style: none;
    font-size: 20px;
    width: 500px;
    margin-left: 100px;
}

nav.nav li a {
    color: blue;
    text-decoration: none;
}

/* services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: #ADD981;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* best sells */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

